<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>

        <h1>Christopher Decaire-Dawson, Welcome to my Lab 3!</h1> 
        <br />
        <nav>
            @Html.ActionLink("Home","Index", "Home")&nbsp;
            @Html.ActionLink("Show the Song Form", "SongForm", "Home")&nbsp;<br />
            @Html.ActionLink("Create Person", "CreatePerson", "Home")&nbsp;<br />
        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <p>What a layout does?        
            Layout file is some common code that can be used for multiple other views. The other views get rendered inside the layout file using the "@@RenderBody()" command.
        </p>
        <br />
        <p>How the CSS file was added:</p>
        <ul>
            <li>The wwwroot directory is created, from which static files such as css and js can be included in the views.</li>
            <li>Inside wwwroot, "css" folder is created and a file named "StyleSheet.css" (containing the css code) is created within that folder.</li>
            <li>Since _Layout.cshtml is common for all views, the css file is included in the layout file using the link tag in the head section: <br />
             <code>&lt;link href=&quot;~/css/StyleSheet.css&quot; rel=&quot;stylesheet&quot; type=&quot;text/css&quot; /&gt;</code>
            </li>
        </ul>
        <br />
        <p>How the layout file was added:</p>
        <ul>
            <li>All layouts are assumed to be in Views/Shared folder. Therefore "_Layout.cshtml" is placed and we don't need to write the full path to include it anywhere.</li>
            <li>The layout file can be set on a per view basis or for all views. </li>
            <li>In this case, the default layout file for all views is "_Layout.cshtml" which is set in the _ViewStart.cshtml file.</li>
        </ul>
        <br />
        <p>
          In the _ViewStart.cshtml file, the default layout is set to be the _Layout.cshtml file in Views > Shared folder.
        </p>
    </footer>

</body>
</html>
