@model Lab3.Models.Person;
@{
    ViewBag.Title = "Create Person";
}
@*More linker and button setup for person data , this is used to take input and creating the "person".*@

<h1>Person</h1>

@using (Html.BeginForm("Displayperson", "Home", FormMethod.Post))
{
    <p>First Name: @Html.TextBox("FirstName")</p>
    <p>Last Name: @Html.TextBox("LastName")</p>
    <p>Age: @Html.TextBox("Age","", new { type = "number" })</p>
    <p>Email Address: @Html.TextBox("Email","", new { type = "email" })</p>
    <p>Password: @Html.Password("Password")</p>
    <p>Description: @Html.TextBox("Description")</p>

    <button type="submit">Create</button>
}
