@model Lab3.Models.Person

@{
    ViewData["Title"] = " Person data";
}

<h1>Person Data</h1>

<p>First Name: @ViewBag.person.FirstName</p>
<p>Last Name: @ViewBag.person.LastName</p>
<p>Age: @ViewBag.person.Age</p>
<p>Email Address: @ViewBag.person.Email</p>
<p>Description: @ViewBag.person.Description</p>