@model Lab3.Models.Person

<div>
    <p><strong>First Name:</strong> @Html.DisplayFor(m => m.FirstName)</p>
    <p><strong>Last Name:</strong> @Html.DisplayFor(m => m.LastName)</p>
    <p><strong>Age:</strong> @Html.DisplayFor(m => m.Age)</p>
    <p><strong>Email Address:</strong> @Html.DisplayFor(m => m.EmailAddress)</p>
    <p><strong>Description:</strong> @Html.DisplayFor(m => m.Description)</p>
</div>
